<section class="AboutPage">
<div class="container-fluid OuterArea">
    <div class="container-fluid CenterArea">
        <h3 class="text-center TitleHeaderA">About Us</h3>
        <hr>
        <p class="genText1">Flux is an ever-changing flow of card numbers. Thus the appropriate name for the latest disruption in the payment card industry. Using a Flux Card will allow the user more control of their finances.

Flux Card was developed to help consumers to start fighting fraud. The standard payment card has been the same for since it was launched in the 1930s. With the improvements in technology, the payment card has still not receieved an upgrade, until now.


</p>
       
<img src="../modules/core/client/img/media/ifsc.png" class="ifscPic"> 
        
           <br>
        
        <p class="genText2">
Flux Card is located in the IFSC in Dublin, Ireland. Our service is backed by PCI DSS Irish banking services. Flux Card will continue to change the industry and add value to your payment card. We will change the way you pay on a daily basis. Our goal is to bring smarter, safer cards to market that will elimate the need for multiple cards in your wallet.
            


        
        
               
        <br>
        <br>
    <p class="genText3"></p>
  
 <hr>
    <div class="container-fluid Map noPadding"><img src="../modules/core/client/img/media/dubMap.png" class="mapImg">
        
        
        <div class="Address"><p>
        Flux Card,  <br>
        2 Grand Canal Sq,<br>
        Dublin 2,<br>
        Ireland<br>
        </p> </div>
For further information or queries, please do not hesitate to contact us using our <a ui-sref="contact">contact</a> page or via social media.        
        
        
       
        </div>
     <div class="container-fluid WorkingW noPadding"><img src="../modules/core/client/img/media/workingWith.png" class="workingWith">
         
        </div>
        
        
    <div class="col-md-6">
       
        
        </div>
        
        
          </div>   
</div>
    <hr>
    
</section>