<section>


<div class="container-fluid ContactForm">  
    <div class="container-fluid text-center CenterArea">
    <h3 class="text-center TitleHeaderB">Contact Us</h3>
        <hr>
     <form class="text-center centerForm">
    
    <div class="group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label class="lab">Name</label>
    </div>
    <div class="group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label class="lab">Subject</label>
    </div>
      
    <div class="group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label class="lab">Email</label>
    </div>
    <div class="group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label class="lab">Message</label>
    </div>
       <fieldset>
      <button name="submit" type="submit" class="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>

</div>
    </div>
    
     

</section>