<section>
<div class="container-fluid OuterArea">
    <div class="container-fluid CenterArea">
        <h3 class="text-center TitleHeaderA">FAQs</h3>
<hr>

<img src="../modules/core/client/img/media/Everest.png" class="mainTitlePic">        
        
    
    <div class="containerConditions">
  <div class="accordion">
    <div class="accordion__single">
      <input class="accordion__single__hidden" type="checkbox" id="question-one">
      <label class="accordion__single__question" for="question-one">What is Analog devices sample policy?</label>
      <p class="accordion__single__answer">
        Analog Devices is pleased to offer a limited amount of free samples to qualified customers. Samples usually ship from an Analog Devices warehouse within 24 hours if they are in stock. Website registration is required to request free samples, and you must use a company or university email domain address when registering. Use of a free or 3rd party email account is not allowed for samples requests.
      </p>
    </div><!-- end .accordion__single -->
    <div class="accordion__single">
      <input class="accordion__single__hidden" type="checkbox" id="question-two">
      <label class="accordion__single__question" for="question-two">Which Analog Devices products can I sample?</label>
      <p class="accordion__single__answer">
        We offer many of our products to sample online. Some exceptions are special material manufactured for a single customer, parts that are on allocation or some very low volume parts. If you would like to order a part that is not available, you may be able to purchase it on the web through Buy Online or you can contact one of our authorized distributors.
      </p>
    </div><!-- end .accordion__single -->
    <div class="accordion__single">
      <input class="accordion__single__hidden" type="checkbox" id="question-three">
      <label class="accordion__single__question" for="question-three">How do I request samples online?</label>
      <p class="accordion__single__answer">
        Locate the part(s) you need, either from the Product Page, or by choosing the Samples link at the top of the Analog Devices home page. Once you have chosen your parts, you will then be re-directed to the shopping cart.
      </p>
    </div><!-- end .accordion__single -->
    <div class="accordion__single">
      <input class="accordion__single__hidden" type="checkbox" id="question-four">
      <label class="accordion__single__question" for="question-four">Can I request samples with a 3rd party email account (such as Yahoo or Hotmail)?</label>
      <p class="accordion__single__answer">
        We're sorry, but online sample requests will only be accepted from valid email addresses that originate from a company (example: joe.smith@ABCcompany.com) or from an educational institution (example: joe.smith@ABCuniversity.edu). Analog Devices cannot accept sample requests from accounts that have been created using third-party email providers, such as Yahoo, Hotmail, MSN, and AOL.
      </p>
    </div><!-- end .accordion__single -->
      
          <div class="accordion__single">
      <input class="accordion__single__hidden" type="checkbox" id="question-five">
      <label class="accordion__single__question" for="question-five">Can I request samples with a 3rd party email account (such as Yahoo or Hotmail)?</label>
      <p class="accordion__single__answer">
        We're sorry, but online sample requests will only be accepted from valid email addresses that originate from a company (example: joe.smith@ABCcompany.com) or from an educational institution (example: joe.smith@ABCuniversity.edu). Analog Devices cannot accept sample requests from accounts that have been created using third-party email providers, such as Yahoo, Hotmail, MSN, and AOL.
      </p>
    </div><!-- end .accordion__single -->
  </div><!-- end .accordion -->
</div><!-- end .container -->

    
</section>