
<section class="footer-section footer1">
  <!--===Start of Footer===-->

  <div class="footer-links text-center">
      <div class="container-fluid">
    
          <div class="col-md-3"></div>
          <div class="col-md-2">
          <ul>
      <li style="list-style: none; display: inline">
        <h3 class="footer-headers">Company</h3>
      </li>
              <li class="footerItem" ui-sref="home">Home</li>
      <li class="footerItem" ui-sref="AboutUs">About Us</li>
      <li class="footerItem" ui-sref="howWorks">How it works</li>
      <li class="footerItem" ui-sref="conditions">Conditions</li>
      
  
      
      
    </ul>
              </div>
          
          <div class="col-md-2">    
    <ul>
      <li class="footerItem" style="list-style: none; display: inline">
        <h3 class="footer-headers">Members</h3>
      </li>
        <li class="footerItem" ui-sref="contact">Contact Us</li>
     <li class="footerItem" ui-sref="PriceG">Price Guide</li>
         <li class="footerItem" ui-sref="FAQ">FAQs</li>
        <li class="footerItem" ui-sref="Waiting">Waiting List</li>
    </ul>
          </div>
              
              
     <div class="col-md-2">
    <ul class="footer2">
      <li class="footerItem" style="list-style: none; display: inline">
        <h3 class="footer-headers">Cards</h3>
      </li>

      <li class="footerItem">Flux Prepaid</li>
      <li class="footerItem">Flux Credit</li>
      <li class="footerItem">Flux Reward Gold</li>
    <li class="footerItem">Flux Premium</li>
   
    </ul>
          </div>
                  <div class="col-md-3"></div>
      
                   </div>
          <hr class="footer-hr">
   
          
          
    <div class="container-fluid">
        <div class="row SocialLinks">
            <p class="text-center">Follow us on</p>

          <i class="fa fa-facebook SocLink1" aria-hidden="true"></i>
            <i class="fa fa-linkedin text-center SocLink2" aria-hidden="true"></i>
            <i class="fa fa-twitter SocLink" aria-hidden="true"></i>
        </div>
      </div>
  </div>
  <div class="container-fluid footEnd">
      <hr>
    <p class="text-center Ltdco">Flux Card.I0 Ltd 2016 &copy;</p>
  </div>
      </div>
    </div>
</section>


