<section ng-controller="HomeController">
    
    <div class="container titleAnimat noPadding">
    <h3 class="mainTitleText animated flipInXTitle">Flux Dynamic Prepaid Card &copy;</h3>
         
    <img src="../modules/core/client/img/media/FluxCardImprov3.png" class="HCard animated mainCard1 ">
    <img src="../modules/core/client/img/media/FluxCardImprov4.png" class="HCard2 animated mainCard2 ">
    <img src="../modules/core/client/img/media/FluxCardImprov5.png" class="HCard3 animated mainCard3 ">
    <img src="../modules/core/client/img/media/FluxCardImprov6.png" class="HCard4 animated mainCard4 ">
    <img src="../modules/core/client/img/media/FluxCardImprov3.png" class="HCard4 animated mainCard5 ">
    <img src="../modules/core/client/img/media/FluxCardImprov5.png" class="HCard4 animated mainCard6 ">
    <img src="../modules/core/client/img/media/FluxCardImprov6.png" class="HCard4 animated mainCard7 ">
    <img src="../modules/core/client/img/media/FluxCardImprov4.png" class="HCard4 animated mainCard8 ">

  
  
  
 <div class="input-group SubsInput col-md-offset-3 col-xs-6 ">
  <input type="text" class="form-control SubscribeNow animated fadeInInput" placeholder="Add your email to be ahead of the queue">
  <span class="input-group-btn">
    <button class="btn btn-default goSubBut animated fadeInInput" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
  </span>
</div>
    <h3 class="mainTitleText2 animated flipInXSubTitle">Protect yourself against fraud, theft &amp; card Loss</h3>
        </div>
    
        
    
    
    
    
    
<div class="container-fluid SecondRow"> 
     <div class="row phoneVidRow">
            <button class=" buttonchevron"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>  
            <div class="col-md-6 ">
                <img src="../modules/core/client/img/media/cardsafeicon.png" class="section2HeaderIcon">
                <h2 class="SecondRowTitle">The Future of Fraud Fighting</h2>
         <h4 class="SecondRowText">How many of us know someone that has been a victim of card fraud? Now with Flux Card you can reduce your chances and take a sigh of relief.
  <br><br>
With Flux Card you can use a unique credit card number with every transaction, or generate a card for a particular merchant.             
<br><br>
Flux Card eliminates the stress of having a card cancelled. There is no longer need to waste time on waiting for a new card to arrive. Don't worry about extra unwarranted charges, you will receive live notifications before you accept or decline any charges.
      
<br><br>
<!--
You will recieve a physical Flux Card that will connect with your smartphone app, and allow you to generate as many numbers as you need. If shopping in store, the merchant will verify your card and virtual card.
 <br><br>
-->
                     
             
Have a Subscription or Trial service service you no longer want to use? Then simply cancel your generated card and create a new one. Flux Card puts the payment card back into your control.

<br><br>
            
                
                </h4>
         </div>
       <div class="col-md-6 leftsecCont"><img src="../modules/core/client/img/media/iphone6.png" class="iphone7vid">
           
           <video src="../modules/core/client/img/media/videos/NetflixFlux_(1).mp4" autoplay="true" autostart="" autobuffer="" preload="auto" loop="true" class="vidiphone" muted="true" ></video>
           
         </div>  
        </div>     
</div>    
    
        
    
    
    
    
    
 <div class="bluetoothover">   
<div class="container-fluid ThirdRow">
        <div class="row distanceRow">
   

            <div class="col-md-6 phoneGen">
<!--         <img src="../modules/core/client/img/media/iphone6Flux11.png" class="phoneFluxCard">  animated fadeIn2
-->
        <img src="../modules/core/client/img/media/iphone6Flux12.png" class="phoneFluxCard2 ">
         <img src="../modules/core/client/img/media/iphone6Flux13.png" class="phoneFluxCard3 animated fadeIn3">


            </div>
            <div class="col-md-6">
                <img src="../modules/core/client/img/media/blueb21.png" class="bluetoothGlyph">
                <img src="../modules/core/client/img/media/wifib2.png" class="bluetoothGlyph">
                 <img src="../modules/core/client/img/media/nfc32.png" class="bluetoothGlyph">
             <h3 class="ShoppingTitle">
                 <br>
                 Bluetooth smartphone connection<br>
                 Never lose your card again<br>
                 Be notified when separated from your card<br>
                 

                </h3>
            </div>
            </div>
                </div>
        
        

    

    
<div class="container-fluid FourthRow">
    <div class="row InformationRow">
        <div class="container">
            <div class="col-xs-12">
                    <div class="col-sm-4 panelCustom1">
                        <div class="panel panel-default">
                          <div class="panel-header headerPanel text-center">
                          <h3 class="headerTitles"> Dynamic Card</h3>
                            <hr>
                          </div>
                         <div class="panel-body text-center">
                             <h1 class="icons1"><span class="glyphicon glyphicon-retweet glyphPanel" aria-hidden="true"></span></h1>
                             <div class="container-fluid">
                          <ul>
                            <li class="listInfo1">Use a unique card number with every transaction</li> 
                              <br>
                              <br>
                             <li class="listInfo1">Dedicate card numbers to particular merchants</li>
                              </ul>
                                 </div>
                            </div>     
                        </div>
                    </div>
                         <div class="col-sm-4 panelCustom1">
                          <div class="panel panel-default">
                              <div class="panel-header headerPanel text-center">
                             <h3 class="headerTitles">  Set Limits </h3>
                                  <hr>
                              </div>

                              <div class="panel-body text-center">
                                  <h1 class="icons1"><span class="glyphicon glyphicon-stats glyphPanel" aria-hidden="true"></span></h1>
                                 <ul>
                                <li class="listInfo1">Decide how much of a limit you want on each card number</li> 
                                  <br>
                                     <br>
                                 <li class="listInfo1">Receive instant alerts on all transactions</li>
                                  </ul>

                              </div>
                                </div>

                             <button class="btn btn-default text-center moreInfoBut">FIND OUT MORE</button>

                    </div>
                      <div class="col-sm-4 panelCustom1">
                      <div class="panel panel-default customPanelInfo">
              <div class="panel-header headerPanel text-center">
                 <h3 class="headerTitles">   Account Access </h3>
                  <hr>
              </div>
                <div class="panel-body text-center">
                    <h1 class="icons1"><span class="glyphicon glyphicon-flash glyphPanel" aria-hidden="true"></span></h1>
                       <ul>
                            <li class="listInfo1">Connect with your smartphone to review your multiple accounts &amp; card numbers</li> 
                              <br>
                             <li class="listInfo1">Receive alerts if your card is separated from your smartphone</li>
                              </ul>
                        </div>
                    </div> 
            </div
            </div>
                </div>
                  </div>
                        </div>
                            </div>
 
</div>          <!--bluetooth hover -->
    <div class="container-fluid hrcont"><hr></div>
    
    
     
     
     
    
    <div class="container-fluid FifthRow">
            <div class="row">
                <div class="col-md-6">
                    <img src="../modules/core/client/img/media/FluxCardImprov455.png" class="FCardBnF1 animated swing2">  
                     <img src="../modules/core/client/img/media/fluxCardBnFBack copy.png" class="FCardBnF2 animated swing3"> 
                    </div>

                    <div class="col-md-6">

                        <ul class="infoList1">
                        <h2>  Flux Card Prepaid &copy;</h2>
                            <br>
                        <li><h4>Easily choose locations you want your card to be active</h4></li>
                        <li><h4>Top up from any local store, Atm or Bank</h4></li>
                         <li><h4>No Bank Account or Identity checks necessary</h4></li>
                         <li><h4>Receive Mobile Alerts on every transaction</h4></li>
                        <li><h4>World wide availability</h4></li>
                         <li><h4>Mobile App and Customer Service</h4></li>
                       
                         
                        </ul>
                    </div>
        
   
        </div>
 </div>
    
    
 
    
    

<div class="container-fluid pageBreak">   <hr></div>
    
    
    
    
    
    

    
            <div class="container-fluid SixthRow">
                    <div class="row">
                                <div class="col-md-1">
    
                         <img src="../modules/core/client/img/media/fluxLogoLarge.png" class="logoLargeSixthRow">       
                        </div>
                        <div class="col-md-10 cardArea">
                         <img src="../modules/core/client/img/media/FSLat2.png" class="CardLargeSixthRow">
                        <img src="../modules/core/client/img/media/cardShadow.png" class="CardShadow animated fadeIn">


                        </div>

        
                         <div class="col-md-1 sideInfoRight">
                             <h2 class="sideTitles animated fadeInRight">Secure</h2>
                             <h2 class="sideTitles animated fadeInRight">Dynamic</h2>
                             <h2 class="sideTitles animated fadeInRight">Innovative</h2>
                            </div>
                            </div>
                      <div class="col-xs-12"><h4 class="text-center sideTitles UnderInfo"> "A card that is as dynamic as you are"</h4></div>
   </div>                    
    
    
    
    
    
    
<div class="container-fluid SeventhRow">
        <div class="row">
   
         
                    <div class="col-md-6 colBorder">
                            <h1 class="whyUse">Why use Flux</h1>      
                                    <h3 class=" ContentTitle">             
                                        Online Shopping <br>
                                         Travelling<br>
                                         Frequent Contactless Use<br>
                                         Fight Fraud
                                        </h3>
                                        <button class="btn btn-default InfoMoreBut" ui-sref="howWorks">MORE INFORMATION</button>
                                </div>
                  
                    <div class="col-md-6 rightCont ">
                                        <div class="col-xs-12">
                                        <h2 class="customerCare"> Flux Card Customer Care &copy; </h2>

                                    <div class="circle animated slideInRight2">24</div>
                                           <div class="circle2 animated slideInRight2">7</div>
                                            </div>
                        <h2 class="customerCare2"> Always there, any day of the week</h2>
                            <br>
                    </div>
        </div>
</div>
     

     
             
<!--
 
        <div class="container-fluid noPadding">    

       
            

        <video id="my-video" class="video" muted loop controls autoplay>
          <source src="../modules/core/client/img/media/Videos/fluxbg26.mp4" type="video/mp4">
          <source src="../modules/core/client/img/media/Videos/fluxbg2(2).ogv" type="video/ogg">
          <source src="../modules/core/client/img/media/Videos/fluxbg2(1).webm" type="video/webm">
        </video>

        <div id="polina">
        <h1 class="text-center">APPLY TODAY</h1>
        <p class="text-center">One Card. Infinite Numbers.
        <p>
        <p>
        <button>Apply</button>
        </div>
        </div>
    </div>
-->
     
   <div class="container-fluid EigthRow">
        <div class="row">
     
   
            </div>
       </div>
     
   
  
    
    
    
</section>

