<section>

        <h3 class="text-center TitleHeaderA">How it Works</h3>
 <!--    container 1-->   
    <div class="container noPadding Section1HowWorks">
        <div class="HowWorksSect1Text col-md-6"><h2 class="sec1HowTitle">A revolution in your payment  </h2>
            <p>Connect &amp; Generate You will recieve a physical Flux Card that will connect with your smartphone app, and allow you to generate as many numbers as you need. If shopping in store, the merchant will verify your card and virtual card.
    <br> <br>
        You will recieve a physical Flux Card that will connect with your smartphone app.<br>
        <a>Learn more about generating cards <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
    <p></p>
    </div>
 <img src="../modules/core/client/img/media/section1.png" class="HowWorksSect1">   
    
    </div>
    
<!--    container 2-->
    <div class="container noPadding Section2HowWorks">
    <div class="HowWorksSect2Text col-md-offset-6 col-xs-6 "><h2 class="sec2HowTitle">Choice is in your hand</h2> 
    <p>You will recieve a physical Flux Card that will connect with your smartphone app, and allow you to generate as many numbers as you need. If shopping in store, the merchant will verify your card and virtual card.
    <br> <br>
        You will recieve a physical Flux Card that will connect with your smartphone app.<br>
        <a>Learn more about Flux Card options <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
        </p>
    </div>
        <img src="../modules/core/client/img/media/FluxTest3.png" class="HowWorksSect2">
        </div> 
    
    
 <!--    container 3-->   
     <div class="container noPadding Section3HowWorks">
    <div class="HowWorksSect3Text col-xs-6 "><h2 class="sec3HowTitle">State of the Art Security features</h2> 
    <p>You will recieve a physical Flux Card that will connect with your smartphone app, and allow you to generate as many numbers as you need. If shopping in store, the merchant will verify your card and virtual card.
    <br> <br>
        You will recieve a physical Flux Card that will connect with your smartphone app.<br>
        <a>Learn more about security <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
        </p>
    </div>
<img src="../modules/core/client/img/media/security2.png" class="HowWorksSect3">  
    </div> 
    
    
  <!--    container 4-->  
    <div class="container noPadding Section4HowWorks">
         <div class="HowWorksSect4Text col-md-offset-6 col-xs-6 "><h2 class="sec4HowTitle">Merchant Verification</h2> 
    <p>You will recieve a physical Flux Card that will connect with your smartphone app, and allow you to generate as many numbers as you need. If shopping in store, the merchant will verify your card and virtual card.
    <br> <br>
        You will recieve a physical Flux Card that will connect with your smartphone app.<br>
             <a>Learn more about verification <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
             </p>
    </div>
<img src="../modules/core/client/img/media/payretail3.png" class="HowWorksSect4">
    
        </div>
    <button class="btn btn-default ApplyHowWBut" ui-sref="Waiting">Apply Now</button>
    
</section>