<section>

        <h3 class="text-center TitleHeaderA">How it Works</h3>
 <!--    container 1-->   
    <div class="container noPadding Section1HowWorks">
        <div class="HowWorksSect1Text col-md-6"><h2 class="sec1HowTitle">A revolution in your payment  </h2>
            <p>Now with Flux Card you have more safety and flexability with your payments. When you receive your card, simply connect it to your smartphone and launch our app. This will allow you to generate as many virtual cards as you need.<br> <br>
                Virtual cards will be verified by your physical card for in-store use. 
    <br>
        <a>Learn more about generating virtual cards <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
    <p></p>
    </div>
 <img src="../modules/core/client/img/media/section1.png" class="HowWorksSect1">   
    
    </div>
    
<!--    container 2-->
    <div class="container noPadding Section2HowWorks">
    <div class="HowWorksSect2Text col-md-offset-6 col-xs-6 "><h2 class="sec2HowTitle">Choice is in your hand</h2> 
    <p>You can use your physical Flux Card for contactless use. With this card you will have as many accounts as you need. These accounts are accesible through your Flux Card app. 
    <br> <br>
        Each account will have a limit and safety options decided by you<br>
        <a>Learn more about sub-account options <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
        </p>
    </div>
        <img src="../modules/core/client/img/media/FluxTest3.png" class="HowWorksSect2">
        </div> 
    
    
 <!--    container 3-->   
     <div class="container noPadding Section3HowWorks">
    <div class="HowWorksSect3Text col-xs-6 "><h2 class="sec3HowTitle">State of the Art Security features</h2> 
    <p>From login to individual card accounts, Flux Card offers more security features to protect you than standard available cards. 
    <br> <br>
        You will receive live notifications on all transactions to your phone. You have the option to accept or decline any transaction and place limits on each account.
       <br>
        <a>Learn more about Flux Card security <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
        </p>
    </div>
<img src="../modules/core/client/img/media/security2.png" class="HowWorksSect3">  
    </div> 
    
    
  <!--    container 4-->  
    <div class="container noPadding Section4HowWorks">
         <div class="HowWorksSect4Text col-md-offset-6 col-xs-6 "><h2 class="sec4HowTitle">Merchant Verification</h2> 
    <p>Flux Card offers merchants and users more validation. The physical Flux Card will be used to verify in-store payments that are made using virtual cards.
    <br> <br>
        This allows the Flux Card user to use their card anywhere in the world, without any scrutiny on the authentication.<br>
             <a>Learn more about verification <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
             </p>
    </div>
<img src="../modules/core/client/img/media/payretail3.png" class="HowWorksSect4">
    
        </div>
    <button class="btn btn-default ApplyHowWBut" ui-sref="Waiting">Apply Now</button>
    
</section>