<section class="PricePage">
<div class="container-fluid OuterArea">
    <div class="container-fluid CenterArea">
        <h3 class="text-center TitleHeaderA">Price Guide</h3>
        <hr>
 <img src="../modules/core/client/img/media/FluxCardImprov455.png" class="cards2"> 
        <table class="priceGuideTable" style="margin-left:7%;width:90%;margin-top:20px;">
  <tr class="priceGuideTable">
    <th class="priceGuideTable"><b>Flux Card</b></th>
    <th class="priceGuideTable"><b>Rates</b></th>
      <th class="priceGuideTable"><b>Extra</b></th>
  </tr>
  <tr class="priceGuideTable">
    <td class="priceGuideTable">Flux Dynamic Debit Card&copy;</td>
    <td class="priceGuideTable">€20.00</td>
    <td class="priceGuideTable"></td>
  </tr>
  <tr class="priceGuideTable">
    <td class="priceGuideTable">Account manager App</td>
    <td class="priceGuideTable">Free</td>
    <td class="priceGuideTable"></td>
  </tr>
        
 <tr class="priceGuideTable">
    <td class="priceGuideTable">NFC smartphone connection</td>
    <td class="priceGuideTable">*NFC smartphones - Free</td>
    <td class="priceGuideTable"></td>
  </tr>
 <tr class="priceGuideTable">
    <td class="priceGuideTable">Contacess Payment</td>
    <td class="priceGuideTable">*Available</td>
    <td class="priceGuideTable"></td>
  </tr> 
 <tr class="priceGuideTable">
    <td class="priceGuideTable">Monthly Fee</td>
    <td class="priceGuideTable">€1.10</td>
    <td class="priceGuideTable">Free if montly top-up exceeds €60</td>
  </tr> 
 <tr class="priceGuideTable">
    <td class="priceGuideTable">Transaction Sms Alert</td>
    <td class="priceGuideTable">Free</td>
    <td class="priceGuideTable"></td>
  </tr>
 
        </table>
        
        <table class="priceGuideTable" style="margin-left:7%;width:90%;margin-top:40px;">
  <tr class="priceGuideTable">
    <th class="priceGuideTable"><b>Generate Card Numbers</b></th>
    <th class="priceGuideTable"><b>Rates</b></th>
      <th class="priceGuideTable"><b>Extra</b></th>
  </tr>        
 <tr class="priceGuideTable">
    <td class="priceGuideTable">Card Number</td>
    <td class="priceGuideTable">First Number Free</td>
    <td class="priceGuideTable"></td>
  </tr>
 <tr class="priceGuideTable">
    <td class="priceGuideTable">Card Number</td>
    <td class="priceGuideTable">3 Card Numbers €9.99</td>
    <td class="priceGuideTable"></td>
  </tr>
 <tr class="priceGuideTable">
    <td class="priceGuideTable">Card Number</td>
    <td class="priceGuideTable">5 Card Numbers €14.99</td>
    <td class="priceGuideTable"></td>
  </tr>
 
</table>
        
<table class="priceGuideTable" style="margin-left:7%;width:90%;margin-top:40px;">
  <tr class="priceGuideTable">
    <th class="priceGuideTable"><b>Top-Up</b></th>
    <th class="priceGuideTable"><b>Rates</b></th>
      <th class="priceGuideTable"><b>Extra</b></th>
  </tr>
<tr class="priceGuideTable">    
    <td class="priceGuideTable"> less than €60</td>
    <td class="priceGuideTable">€1.00</td>
    <td class="priceGuideTable"></td>
  </tr> 
  <tr class="priceGuideTable">          
    <td class="priceGuideTable">less than €99</td>
    <td class="priceGuideTable">€2.00</td>
    <td class="priceGuideTable"></td>
  </tr>
  <tr class="priceGuideTable">          
    <td class="priceGuideTable">less than €159</td>
    <td class="priceGuideTable">€2.75</td>
    <td class="priceGuideTable"></td>
  </tr>
  <tr class="priceGuideTable">          
    <td class="priceGuideTable">from €350 to €500</td>
    <td class="priceGuideTable">€3.50</td>
    <td class="priceGuideTable"></td>
  </tr>
</table>
       
 <table class="priceGuideTable" style="margin-left:7%;width:90%;margin-top:40px;margin-bottom:50px;">       
     <tr class="priceGuideTable">
    <th class="priceGuideTable"><b>Transfer to another Flux Card user</b></th>
    <th class="priceGuideTable"><b>Rates</b></th>
      <th class="priceGuideTable"><b>Extra</b></th>
  </tr>     
        <tr class="priceGuideTable">
    <td class="priceGuideTable">less than €99 </td>
    <td class="priceGuideTable">€1.00</td>
    <td class="priceGuideTable"></td>
  </tr>
        <tr class="priceGuideTable">
    <td class="priceGuideTable">less than €299 </td>
    <td class="priceGuideTable">€2.00</td>
    <td class="priceGuideTable"></td>
  </tr>
            <tr class="priceGuideTable">
    <td class="priceGuideTable">more than €299 </td>
    <td class="priceGuideTable">€3.00</td>
    <td class="priceGuideTable"></td>
  </tr>
        </table>       
        
<table class="priceGuideTable" style="margin-left:7%;width:90%;margin-top:40px;margin-bottom:50px;">
  <tr class="priceGuideTable">
    <th class="priceGuideTable"><b>Bank Charges</b></th>
    <th class="priceGuideTable"><b>Rates</b></th>
      <th class="priceGuideTable"><b>Extra</b></th>
  </tr>
<tr>    
    <td class="priceGuideTable">Online transactions</td>
    <td class="priceGuideTable">Free</td>
    <td class="priceGuideTable"></td>
  </tr> 
  <tr class="priceGuideTable">          
    <td class="priceGuideTable">Atm withdrawl</td>
    <td class="priceGuideTable">€2.00</td>
    <td class="priceGuideTable"></td>
  </tr>
  <tr class="priceGuideTable">          
    <td class="priceGuideTable">Foreign exchange rate</td>
    <td class="priceGuideTable">2.95%</td>
    <td class="priceGuideTable"></td>
  </tr>
  <tr class="priceGuideTable">          
    <td class="priceGuideTable">Bank account</td>
    <td class="priceGuideTable">Not required</td>
    <td class="priceGuideTable"></td>
  </tr>
  <tr class="priceGuideTable">          
    <td class="priceGuideTable">Credit check</td>
    <td class="priceGuideTable">Not required</td>
    <td class="priceGuideTable"></td>
  </tr>
</table>        
        
    <hr>    
    </div>
    </div>
    
</section>