<section>
    
<img class="iphoneBG1" src="../modules/core/client/img/loaders/iphoneBG.png">
<img class="press animated fadeInPress" src="../modules/core/client/img/loaders/Gesture.gif">
<img class="iphoneBG2 animated slideInLeft3" src="../modules/core/client/img/loaders/iphoneBG2.png">
<img class="press2 animated fadeInPress2" src="../modules/core/client/img/loaders/Gesture2.gif">
<img class="iphoneBG8 animated slideInLeft4" src="../modules/core/client/img/loaders/iphoneBG6.png">
<img class="CardGenBlank animated zoomInCard" src="../modules/core/client/img/loaders/CardGenFlip.png">
<img class="NameInp animated fadeInDownName" src="../modules/core/client/img/loaders/Netf3.gif">
<img class="Check animated fadeInCheck" src="../modules/core/client/img/loaders/Check.png">
<img class="press3 animated fadeInPress3" src="../modules/core/client/img/loaders/Gesture3.gif">
<img class="iphoneBG101 animated fadeInBG101" src="../modules/core/client/img/loaders/iphoneBG101.png">
<img class="loader animated fadeInLoader" src="../modules/core/client/img/loaders/loader.gif">
<img class="InfoSuccess animated fadeInInfoSuccess" src="../modules/core/client/img/loaders/InfoSuccess.png">    
<img class="iphoneBG10 animated fadeInBG10" src="../modules/core/client/img/loaders/iphoneBG10.png"> 
<img class="press4 animated fadeInPress4" src="../modules/core/client/img/loaders/Gesture4.gif">
<img class="iphoneBG22 animated slideInLeftNet" src="../modules/core/client/img/loaders/iphoneBG2.2.png">
<img class="press5 animated fadeInPress5" src="../modules/core/client/img/loaders/Gesture5.gif">
<img class="NetAcc animated slideInLeftNetAcc" src="../modules/core/client/img/loaders/iphoneBGNetAcc.png">
</section>

