<section>
<div class="container">
<div class="row">

  <div class="col-md-6">
      <div class="WaitingListSocialDiv">
         <i class="fa fa-facebook WaitingListSocial" aria-hidden="true"></i><br>
            <i class="fa fa-linkedin text-center WaitingListSocial" aria-hidden="true"></i><br>
            <i class="fa fa-twitter WaitingListSocial" aria-hidden="true"></i>
      </div>
      <img class="iphoneOutl" src="../modules/core/client/img/media/iphoneOutl.png">
    </div>
  <div class="col-md-6 waitingRight">
      <h2 class="waitTitle">Reserve your Flux Card &copy; today</h2>
      <h4 class="waitText"><b>Step 1</b><br>
          <br>
      Add your email to the field below. Thats it! You will be notified when we can supply your card <br><br>
      <b>Step 2</b><br>
          <br>
      In order to be bumped up our waiting list, simply click on the social media link to the left. This will post information about Flux Card to your social media. When this has been verified, you will receive notification of your new postion in our waiting list</h4>
       <div class="input-group SubsInput2">
  <input type="text" class="form-control SubscribeNow" placeholder="Add your email to be ahead of the queue">
  <span class="input-group-btn">
    <button class="btn btn-default goSubBut" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
  </span>
</div>
    </div>
    
    
</div>        
</div>




</section>