<section>
 
        <div class="example">
     
            <div class="text-center">
        <input class="input" checked id="one" name="carousel" type="radio" value="1">
        <label id="labelCarou" for="one"><span>1</span></label>

		<input class="input" id="two" name="carousel" type="radio" value="2">
        <label for="two"><span>2</span></label>

        <input class="input" id="three" name="carousel" type="radio" value="3">
        <label for="three"><span>3</span></label>

        <input class="input" id="four" name="carousel" type="radio" value="4">
        <label for="four"><span>4</span></label>

        <input class="input" id="five" name="carousel" type="radio" value="5">
        <label for="five"><span>5</span></label>

        <input class="input" id="six" name="carousel" type="radio" value="6">
        <label for="six"><span>6</span></label>

        <input class="input" id="seven" name="carousel" type="radio" value="7">
        <label for="seven"><span>7</span></label>

        <input  class="input" id="eight" name="carousel" type="radio" value="8">
        <label for="eight"><span>8</span></label>

            
		<div class="contain">
			<ul class="carousel" id="listCarou">
        <li><img src="../modules/core/client/img/media/Fluxgold.png" >
         
         
        </li>
				<li><img src="../modules/core/client/img/media/FluxCard.png" ></li>
				<li><img src="../modules/core/client/img/media/FluxCard.png" ></li>
				<li><img src="../modules/core/client/img/media/FluxCard.png" ></li>
				<li><img src="../modules/core/client/img/media/Fluxgold.png" ></li>
				<li><img src="../modules/core/client/img/media/FluxCard.png" ></li>
				<li><img src="../modules/core/client/img/media/Fluxgold.png" ></li>
				<li><img src="../modules/core/client/img/media/Fluxgold.png" ></li>
			</ul>
		</div>

    </div>

     </div>        



</section>